# auto indentation
set autoindent

# save backup for sudden death of nano
set backup
set backupdir "~/tmp"
set tempfile
set historylog

# allow nano to be suspended
set suspend

# setting brackets
set brackets ""')>]}"
set matchbrackets "(<[{)>]}"

set regexp
set casesensitive
set backwards

# expert mode
set morespace

# multibuffer
set multibuffer

# smooth scrolling
set smooth

# set tab size
set tabsize 2
set const

# no new lines, no!
set nonewlines

# wrapping text in lines
set nowrap
set softwrap

# undo
#set undo

# import syntax highlight packages
include ~/.nano/Dockerfile.nanorc
include ~/.nano/patch.nanorc
include ~/.nano/rpmspec.nanorc
include ~/.nano/css.nanorc
include ~/.nano/haml.nanorc
include ~/.nano/ruby.nanorc
include ~/.nano/apacheconf.nanorc
include ~/.nano/perl.nanorc
include ~/.nano/html.nanorc
include ~/.nano/perl6.nanorc
include ~/.nano/yaml.nanorc
include ~/.nano/ini.nanorc
include ~/.nano/makefile.nanorc
include ~/.nano/yum.nanorc
include ~/.nano/man.nanorc
include ~/.nano/pkg-config.nanorc
include ~/.nano/sed.nanorc
include ~/.nano/zsh.nanorc
include ~/.nano/awk.nanorc
include ~/.nano/markdown.nanorc
include ~/.nano/pkgbuild.nanorc
include ~/.nano/sh.nanorc
include ~/.nano/zshrc.nanorc
include ~/.nano/c.nanorc
include ~/.nano/java.nanorc
include ~/.nano/cmake.nanorc
include ~/.nano/javascript.nanorc
include ~/.nano/git.nanorc
include ~/.nano/js.nanorc
include ~/.nano/systemd.nanorc
include ~/.nano/colortest.nanorc
include ~/.nano/gitcommit.nanorc
include ~/.nano/json.nanorc
include ~/.nano/nanorc.nanorc
include ~/.nano/conf.nanorc
include ~/.nano/nginx.nanorc
include ~/.nano/python.nanorc